{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "importOrder": [
    "^(?:@[^/].*|[A-Za-z].*)$",
    "^@/.*$",
    "^[./].*$"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "endOfLine": "auto"
}