@font-face {
    font-family: "Sinter";
    src: url("../../public/fonts/Sinter/Sinter-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sinter";
    src: url("../../public/fonts/Sinter/Sinter-Medium.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}