@import 'fonts.css';

html {
  /* disable elastic scrolling */
  overscroll-behavior: none;
}

/* root */
body {
  margin: 0;
  font-family: -apple-system, Sinter, ui-sans-serif, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden !important;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--chakra-colors-blackAlpha-300);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--chakra-colors-blackAlpha-500);
}


/* text */
.subtitle {
  font-weight: 600;
}

.secondary-text {
  color: var(--chakra-colors-gray-500);
  line-height: var(--chakra-lineHeights-4);
}

.no-select {
  cursor: default;
  user-select: none !important;
}

.ellipsis-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* card-style content container */
.content-full-y {
  height: 100%;
  overflow-y: auto;
  padding: var(--chakra-space-3-5);
  user-select: none;

  & * {
    user-select: initial;
  }
}


/* tag */
.tag-xs {
  font-size: 0.675rem !important;
  padding-inline: var(--chakra-space-1-5) !important;
  min-height: 1.125rem !important;
}


/* alert and toast */
/* .chakra-alert__title {
  font-size: var(--chakra-fontSizes-sm) !important;
}

.chakra-alert__desc {
  font-size: var(--chakra-fontSizes-xs-sm) !important;
  line-height: var(--chakra-lineHeights-4) !important;
}

.chakra-alert {
  padding-left: var(--chakra-space-3) !important;
  padding-top: var(--chakra-space-2) !important;
  padding-bottom: var(--chakra-space-2) !important;
} */