/* root */
body {
  margin: 0;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--chakra-colors-blackAlpha-300);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--chakra-colors-blackAlpha-500);
}


/* text */
.subtitle {
  font-weight: 600;
}

.secondary-text {
  color: var(--chakra-colors-gray-500);
  line-height: var(--chakra-lineHeights-4);
}

.no-select {
  cursor: default;
  user-select: none;
}

.ellipsis-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* card-style content container */
.content-blur-bg {
  background-color: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: blur(20px);
}

.content-card {
  background-color: var(--chakra-colors-gray-50) !important;
  padding: var(--chakra-space-3);
}

.content-full-y {
  height: 100%;
  overflow-y: auto;
  padding: var(--chakra-space-3-5);
}


/* alert and toast */
/* .chakra-alert__title {
  font-size: var(--chakra-fontSizes-sm) !important;
}

.chakra-alert__desc {
  font-size: var(--chakra-fontSizes-xs-sm) !important;
  line-height: var(--chakra-lineHeights-4) !important;
}

.chakra-alert {
  padding-left: var(--chakra-space-3) !important;
  padding-top: var(--chakra-space-2) !important;
  padding-bottom: var(--chakra-space-2) !important;
} */